@tailwind base;
@tailwind components;
@tailwind utilities;


.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.smooth-scroll {
  scroll-behavior: smooth;
}